/ROLAPDemoASP.Mvc/Temp/
/ROLAPDemoASP.Mvc/bin/
/ROLAPDemoASP.Mvc/obj/
/ROLAPDemoASP.Mvc/Content/rsolap/css
/ROLAPDemoASP.Mvc/Content/rsolap/images
/ROLAPDemoASP.Mvc/Content/rsolap/*.js
/packages/
/.vs/
